.cl-library__filters {
  display: flex;
  justify-content: space-between;

  &--tags {

    input {
      border: 2px solid $color-blue;
    }
  }

  &--type {
    display: flex;
    justify-content: flex-end;

    button {
      border: 2px solid $color-blue;
    }
  }
}
