.cl-library__filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include respond-to($bp-s) {
    flex-direction: row;
  }

  &--tags {
    position: relative;
    border: 2px solid $color-blue;

    @include respond-to($bp-s) {
      width: initial;
    }
  }

  &--type {
    position: relative;
    margin-top: pxem(15);
    border: 2px solid $color-blue;

    @include respond-to($bp-s) {
      margin-top: 0;
    }
  }

  &--dropdown-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include respond-to($bp-s) {
      width: inherit;
    }
  }

  &--dropdown {
    left: 0;
    top: 99%;
    width: 100%;
    z-index: 100;
    position: absolute;
    margin-top: pxem(3);
    border: 2px solid $color-blue-light;

    .item {
      padding: pxem(5) 0;
      background-color: $color-white;

      &:hover {
        background-color: $color-light-gray;
      }
    }
  }
}
